<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
    <title>Sofly</title>
</head>
<body>
    <header>
        <img src="static/img/logo.jpeg" alt="logo">
    </header>
    <main>
        <div class="sobre">
            <h1>SOFLY</h1>
            <p>Venha aprende inglês de maneira divertida, fácil, rápida do seu jeito.</p>
        </div>
        <div class="cadastro">
            <h1>LOG-IN</h1>
            <form action="" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">     
                <input type="submit" value="Entrar" id="entrar">     
            </form>
            <a href="/">Não tenho cadastro</a>
        </div>
    </main>
</body>
</html>